Package: com.xcxiao.floatingdockxi
Name: 浮动Dock
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Dock浮动起来
Maintainer: XCXiao
Author: XCXiao
Section: Tweaks
Version: 0.0.2-1+debug
Installed-Size: 156
